In [2]:
var01 = 3
var02 = 4

print('덧셈 :',var01 + var02)
print('뺄셈 :',var01 - var02)
print('곱셈 :',var01 * var02)
print('실수 나눗셈 :',var01 / var02)
print('정수 나눗셈 몫 : ',var01 // var02)
print('정수 나눗셈 나머지 :', var01 % var02)
print('제곱 : ',var01**2)

덧셈 : 7
뺄셈 : -1
곱셈 : 12
실수 나눗셈 : 0.75
정수 나눗셈 몫 :  0
정수 나눗셈 나머지 : 3
제곱 :  9

In [3]:
print('거듭제곱', var01 ** 2)
print('거듭제곱', pow(var01, 2))

거듭제곱 9
거듭제곱 9

### 파이썬 모듈을 이용한 수학계산

In [4]:
import math

In [5]:
# 거듭제곱

math.pow(var01, 2)

9.0

In [6]:
# 거듭제곱
math.sqrt(var01)

1.7320508075688772

In [7]:
#  sin 45도
math.sin(45)

0.8509035245341184

In [8]:
# sin45^2 + cos45^2
first = math.sin(45)**2 + math.cos(45)**2
second = pow(math.sin(45),2) + pow(math.cos(45),2)

print(first)
print(second)

1.0
1.0

### 난수 발생

In [9]:
# 난수발생 모듈 불러오기
import random

In [10]:
random.randint(1, 100) #1-100중 난수 1개 발생

21

In [11]:
list(range(1, 10)) #10에사 멈추라는 의미로 10 없이 결과 값이 나온다.

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
lotto_list=range(1, 46)
list(lotto_list)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45]

In [13]:
lotto_list=range(1, 46)
random.sample(lotto_list,6)

[34, 11, 4, 39, 15, 14]

In [14]:
# 반올림

print(round(123.45, 1))
print(round(123.456, 2))

123.5
123.46

In [15]:
# 올림
print(math.ceil(1.1))
print(math.ceil(1.9))

2
2

In [16]:
# 내림
print(math.floor(1.1))
print(math.floor(1.9))

1
1

In [17]:
# 메모리에 있는 변수 보기
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_12',
 '_13',
 '_5',
 '_6',
 '_7',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'first',
 'get_ipython',
 'lotto_list',
 'math',
 'os',
 'quit',
 'random',
 'second',
 'sys',
 'var01',
 'var02']

In [18]:
var01

3

In [19]:
# 메모리에 있는 변수 제거

del var01

In [20]:
var01   # 지워졌기에 오류 발생

NameError: name 'var01' is not defined

### 관계 연산자

In [ ]:
num1 =100
num2 = 20

In [ ]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

False
True
True
False
True
False

### 논리 연산자

In [ ]:
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))
print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

False
True
False
True

In [ ]:
# 부정 연산자
num1 >= 50
not(num1 >= 50)

False

In [ ]:
# OS 명령어 사용
!ls
# !dir window일 경우

0..Preview.ipynb
02.변수와 자료형.ipynb

In [ ]:
# 문자열
var01 = "'Hello World!'"
var01

"'Hello World!'"

In [ ]:
var01 ="""
    Hello World1
    12345
    대한민국
"""
# var01
print(var01)

    Hello World1
    12345
    대한민국

In [ ]:
# 쌍따옴표와 홑따옴표의 사용
var01 = "My father's wife is my mother"
var02 = 'He says "I love you."'
print(var01)
print(var02)

My father's wife is my mother
He says "I love you."

In [ ]:
# 문자열 연사(덧셈)
var01 = "Python"
var02 = "is fun."

print(var01 + var02)
print(var01, var02)

Pythonis fun.
Python is fun.

In [ ]:
# 문자열 연산(곱셈)
print(var01 * 3)

PythonPythonPython

In [ ]:
print("=" * 20)
print('Python')
print("=" * 20)

====================
Python
====================

In [ ]:
# 문자열 indexing에 Slicing
str = "abcdefghijklmn"

print(str[0])
print(str[0:3]) # 0에서부터시작하며 3개를 의미
print(str[-1])
print(str[5:])
print(str[:5])
print(str[0]+str[1]+str[2])
print(str[5:-2])

a
abc
n
fghijklmn
abcde
abc
fghijkl

In [ ]:
str = "20221229Snow"
year = print(str[:4])
day = print(str[4:-4])
weather = print(str[8:])

print(str[:4], str[4:-4], str[8:])
# 2022 1229 Snow

2022
1229
Snow
2022 1229 Snow

In [ ]:
str = "abbde"
print(str[:2]+'c'+str[3:])

# abcde

abcde

In [ ]:
type(str)

str

### 문자열 formatting

In [ ]:
print("I have %d apples"%2) # 숫자
print("I have %s apples."%"two") # 문자

I have 2 apples
I have two apples.

In [ ]:
number = 2
fruit = "apples"
print("I have %d %s."%(number,fruit)) # 순서대로 적기

I have 2 apples.

In [ ]:
# 문자열 정렬
print("I have 2 %10s."%"apples") #앞에서 띄어쓰기
print("I have 2 %-10s."%"apples") #뒤에서 띄어쓰기

I have 2     apples.
I have 2 apples    .

In [ ]:
print("%0.4f"%3.14159) # 소숫점 4자리까지
print("%10.4f"%3.14159) # 10의 소수점 4자리수

3.1416
    3.1416

### 문자열 관련 함수

In [ ]:
# 문자 count
str = "I have a dream."
print(str.count('a'))
print(len(str))

3
15

In [ ]:
# 문자 위치 알려주기
print(str.find('e'))
print(str.find('x'))

5
-1

In [ ]:
str.find('e')

5

In [ ]:
str[str.find('e')]

'e'

In [ ]:
# 문자열 삽입
str = ","
str.join('abcde')

'a,b,c,d,e'

In [ ]:
# 소문자를 대문자로
str = 'hi'
str.upper()

'HI'

In [ ]:
# 대문자를 소문자로
str ="HI"
str.lower()

'hi'

In [ ]:
str[1].lower()

'i'

In [ ]:
# 공백 채우기
str = '      hi'
str.lstrip()

'hi'

In [ ]:
str ='hi   '
str.rstrip()

'hi'

In [ ]:
str ='   hi   '
str.strip()

'hi'

In [ ]:
# 문자열 바꾸기
str = 'Life is too short to be happy.'
str.replace('happy', 'unhappy')

'Life is too short to be unhappy'

In [ ]:
# 문자열 나누기
str01 = 'Life is too short to be happy.'
list01 = str01.split() # 공백 기준으로 나눈다.
type(list01)
list01

['Life', 'is', 'too', 'short', 'to', 'be', 'happy.']

In [ ]:
len(list01) #갯수 의미

7

In [ ]:
str02 = 'a:b:c:d'
str02.split(':') # : 기준으로 나눈다.

['a', 'b', 'c', 'd']

### 고급 문자열 Formatting

In [ ]:
# 숫자로 바로 대입하기
"I have {0} apples.".format(3)

'I have 3 apples.'

In [ ]:
"I have {0} apples.".format('three')

'I have three apples.'

In [ ]:
number = 10
day = 'three'
"I have {0} apples, I will go ahead for {1} days.".format(number, day)

'I have 10 apples, I will go ahead for three days.'

In [ ]:
# 왼쪽 정렬
'{0:<10}'.format("hi")

'hi        '

In [ ]:
# 오른쪽 정렬
'{0:>10}'.format("hi")

'        hi'

In [ ]:
# 가운데 정렬
'{0:^10}'.format("hi")

'    hi    '

In [ ]:
# 공백 채우기
'{0:=^10}'.format("hi")

'====hi===='

In [ ]:
# f문자열 formatting(Python 3.6이상)
name = '홍길동'
age = 30
f'나의 이름은 {name}이고 나이는 {age}세 입니다.'

'나의 이름은 홍길동이고 나이는 30세 입니다.'

In [ ]:
f'나는 내년이면 {age+1}살 입니다.'

'나는 내년이면 31살 입니다.'

### 날짜형 변환

In [ ]:
# 날짜형 모듈 불러오기
from datetime import datetime, timedelta

In [ ]:
time1 = datetime(2022, 12, 25, 21, 0, 0, 0)
print(time1)

2022-12-25 21:00:00

In [ ]:
# 날짜 계산하기
time2 = datetime.now()
print(time2)
print(time1 - time2)

2022-06-22 16:14:09.173013
186 days, 4:45:50.826987

In [ ]:
# 좀 더 편리하게 출력
print((time1 - time2).days, '일')
print((time1 - time2).seconds, '초')

186 일
17150 초

In [ ]:
# 시간으로 확인하기
(time1 - time2).days * 24 + math.floor((time1 - time2).seconds / 60 / 60)

4468

In [ ]:
# 특정 날짜로 부터 시간 계산
time2 + timedelta(days=5)

datetime.datetime(2022, 6, 27, 16, 14, 9, 173013)

In [ ]:
print(time2 + timedelta(days=1, hours=-2))

2022-06-23 14:14:09.173013