In [1]:
range(1, 11)

range(1, 11)

In [2]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [4]:
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

In [5]:
list(range(0, 10, -2))

[]

In [6]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
# 1에서 10까지 제곱근 구하기
import math
for i in range(1,11):
    print("%d : %.8f"%(i,math.sqrt(i)))

1 : 1.00000000
2 : 1.41421356
3 : 1.73205081
4 : 2.00000000
5 : 2.23606798
6 : 2.44948974
7 : 2.64575131
8 : 2.82842712
9 : 3.00000000
10 : 3.16227766

In [8]:
# 구구단 9단 출력
i = 9
for j in range(2, 10):
    print("%d X %d = %d"%(i,j,(i * j)))

9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
# 구구단 결과만 출력하기
for i in range(2, 10):
    for j in range(1, 10):
        print("%2d"%(i*j), end=' ')
    print()

In [ ]:
# for문에 Tuple 사용하기
var = [(1,2),(3,4),(5,6)]

for first, last in var:
    print(first,":", last)

1 : 2
3 : 4
5 : 6

총 5명의 학생이 시험을 보았는데, 시험점수가 60점을 넘으면 합격이고
그렇지 않으면 불합격이다.
합격, 불합격 보여주기

In [ ]:
scores = [90, 25, 67, 45, 80]

for number in range(len(scores)):
     print("%d의 학생은 %s입니다."%(number+1,("합격" if scores[number] > 60  else "불합격")))

1의 학생은 합격입니다.
2의 학생은 불합격입니다.
3의 학생은 합격입니다.
4의 학생은 불합격입니다.
5의 학생은 합격입니다.

In [ ]:
scores = [90, 25, 67, 45, 80]
number = 1

for score in scores:

    if score > 60:
        print("%d의 학생은 %s 입니다."%(number,"합격"))
    else : 
        print("%d의 학생은 %s 입니다."%(number,"불합격"))
    number +=1

1의 학생은 합격 입니다.
2의 학생은 불합격 입니다.
3의 학생은 합격 입니다.
4의 학생은 불합격 입니다.
5의 학생은 합격 입니다.

In [ ]:
scores = [90, 25, 67, 45, 80]
number = 1

for score in scores:
    if score > 60:
        print("%d의 학생은 점수가 %d이므로 %s입니다."%(number,score,"합격"))
    else : 
        print("%d의 학생은 점수가 %d이어서 %s입니다."%(number,score,"불합격"))
    number +=1

1의 학생은 점수가 90이므로 합격입니다.
2의 학생은 점수가 25이어서 불합격입니다.
3의 학생은 점수가 67이므로 합격입니다.
4의 학생은 점수가 45이어서 불합격입니다.
5의 학생은 점수가 80이므로 합격입니다.

학생들 점수의 평균을 구하여 평균점수 보다 낮으면 불합격
평균점수보다 같거나 높으면 학격을 위의 출력과 같이 보여주기

In [ ]:
import numpy as np
scores = [90, 25, 67, 45, 80]
number = 1

print("학급의 평균점수는 %.2f 입니다."%np.mean(scores))
print()
for score in scores:
    if score > 60:
        print("%d의 학생은 점수가 %d이므로 %s입니다."%(number,score,"합격"))
    else : 
        print("%d의 학생은 점수가 %d이어서 %s입니다."%(number,score,"불합격"))
    number +=1

학급의 평균점수는 61.40 입니다.

1의 학생은 점수가 90이므로 합격입니다.
2의 학생은 점수가 25이어서 불합격입니다.
3의 학생은 점수가 67이므로 합격입니다.
4의 학생은 점수가 45이어서 불합격입니다.
5의 학생은 점수가 80이므로 합격입니다.

In [ ]:
scores = [90, 25, 67, 45, 80]
number = 1

for score in scores:
    if score > 60:
        print("%d의 학생은 %s입니다."%(number,"합격"))
    number +=1
    continue

1의 학생은 합격입니다.
3의 학생은 합격입니다.
5의 학생은 합격입니다.

총 5명의 학생이 시험을 보았는데 시험점수가 60점을 넘으면 합격이고 그렇지 않으면 불합격이다.
합격인 학생들의 번호만 새로운 list를 생성하여 출력하기

In [ ]:
scores = [90, 25, 67, 45, 80]
number = 1
wow = []

print("합격자 짝짝")
print("---------")
for score in scores:
   if score > 60:
      wow.append(number)
   number +=1
   print('{0:^10}'.format("%d"%number))

합격자 짝짝
---------
    2
    3
    4
    5
    6

---
# 문장과 단어 추출

In [ ]:
string = """나는 홍길동 입니다.
주소는 서울시 입니다.
나이는 35세 입니다."""

In [ ]:
string

'나는 홍길동 입니다.\n주소는 서울시 입니다.\n나이는 35세 입니다.'

In [ ]:
# 문단 -> 문장
sents = [] #문장 저장
words = [] #단어 저장

# 문단 -> 문장
for sen in string.split('\n'):
    sents.append(sen)
    # 문장 -> 단어
    for word in sen.split():
        words.append(word)

print(sents)
print(words)

['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']
['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']

In [ ]:
var01 = [1,2,3,4]
var02 = []
# var02에 var01의 인덱스 번호에 각각 5를 곱하여 출력하기

for i in var01:
    var02.append(i * 5)

var02

[5, 10, 15, 20]

# 파이썬의 listed for 문

In [ ]:
var01 = [1,2,3,4]
var02 = [i * 5 for i in var01 ]
var02

[5, 10, 15, 20]

In [ ]:
# var01의 데이터가 짝수인 경우에만 5를 곱하여 var02 list 만들기
# for i in var01:
#     if i %2 == 0:
#         print(i*5)
var01 = [1,2,3,4]
var02 = [ i * 5 for i in var01 if i % 2 == 0]
var02

[10, 20]