In [245]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [246]:
stores = pd.read_csv("../Data/seoul_count_store.csv",index_col=0)  #0
avg = pd.read_csv("../Data/seoul_ma.csv",index_col=0) 
pop = pd.read_csv("../Data/seoul_pop_area.csv",index_col=0) #0
cafe = pd.read_csv("../Data/cafe_targetdata.csv",index_col=0)  #0

In [247]:
stores.head()

,기간,자치구행정동명,한식,용달운송,부동산,옷가게,주점,미용실,슈퍼마켓,분식,...,노래방,편의점,치킨집,카센터,과일채소가게,정육점,중국집,당구장,빵집,pc방
0,2015,강남구 개포1동,13,38,42,9,0,20,14,5,...,0,1,1,1,5,1,2,0,1,0
1,2015,강남구 개포2동,56,23,51,14,20,33,14,16,...,7,8,11,4,4,4,2,4,7,1
2,2015,강남구 개포4동,101,42,53,26,19,32,9,22,...,13,18,15,25,3,5,8,9,5,5
3,2015,강남구 논현1동,318,18,193,100,102,98,35,32,...,34,53,23,10,11,16,18,14,13,8
4,2015,강남구 논현2동,350,5,139,79,102,68,33,58,...,16,53,18,16,1,6,28,15,28,10

---
### 스토어 기준으로 카페 추가

In [248]:
stores.isnull().sum()
stores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2115 entries, 0 to 2114
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   기간       2115 non-null   int64
 1   자치구행정동명  2115 non-null   object
 2   한식       2115 non-null   int64
 3   용달운송     2115 non-null   int64
 4   부동산      2115 non-null   int64
 5   옷가게      2115 non-null   int64
 6   주점       2115 non-null   int64
 7   미용실      2115 non-null   int64
 8   슈퍼마켓     2115 non-null   int64
 9   분식       2115 non-null   int64
 10  세탁소      2115 non-null   int64
 11  노래방      2115 non-null   int64
 12  편의점      2115 non-null   int64
 13  치킨집      2115 non-null   int64
 14  카센터      2115 non-null   int64
 15  과일채소가게   2115 non-null   int64
 16  정육점      2115 non-null   int64
 17  중국집      2115 non-null   int64
 18  당구장      2115 non-null   int64
 19  빵집       2115 non-null   int64
 20  pc방      2115 non-null   int64
dtypes: int64(20), object(1)
memory usage: 363.5+ KB

In [249]:
cafe.isnull().sum()
cafe.info()
cafe

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2115 entries, 0 to 2114
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   기간       2115 non-null   int64
 1   자치구행정동명  2115 non-null   object
 2   음료점      2115 non-null   int64
dtypes: int64(2), object(1)
memory usage: 66.1+ KB

        기간   자치구행정동명  음료점
0     2015  강남구 개포1동    4
1     2015  강남구 개포2동   14
2     2015  강남구 개포4동   31
3     2015  강남구 논현1동  103
4     2015  강남구 논현2동  128
...    ...       ...  ...
2110  2019  중랑구 상봉2동   44
2111  2019  중랑구 신내1동   37
2112  2019  중랑구 신내2동   14
2113  2019  중랑구 중화1동   14
2114  2019  중랑구 중화2동   26

[2115 rows x 3 columns]

In [250]:
stores['카페'] = cafe['음료점']
stores

,기간,자치구행정동명,한식,용달운송,부동산,옷가게,주점,미용실,슈퍼마켓,분식,...,편의점,치킨집,카센터,과일채소가게,정육점,중국집,당구장,빵집,pc방,카페
0,2015,강남구 개포1동,13,38,42,9,0,20,14,5,...,1,1,1,5,1,2,0,1,0,4
1,2015,강남구 개포2동,56,23,51,14,20,33,14,16,...,8,11,4,4,4,2,4,7,1,14
2,2015,강남구 개포4동,101,42,53,26,19,32,9,22,...,18,15,25,3,5,8,9,5,5,31
3,2015,강남구 논현1동,318,18,193,100,102,98,35,32,...,53,23,10,11,16,18,14,13,8,103
4,2015,강남구 논현2동,350,5,139,79,102,68,33,58,...,53,18,16,1,6,28,15,28,10,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2110,2019,중랑구 상봉2동,247,74,74,59,88,40,20,28,...,27,16,18,4,7,8,17,4,18,44
2111,2019,중랑구 신내1동,110,261,43,27,28,48,21,20,...,14,23,11,1,6,9,6,11,6,37
2112,2019,중랑구 신내2동,48,94,30,50,10,33,10,16,...,6,11,2,4,9,3,2,8,1,14
2113,2019,중랑구 중화1동,35,111,39,19,9,40,16,9,...,15,5,1,4,4,0,0,2,0,14
2114,2019,중랑구 중화2동,172,149,44,47,74,62,31,34,...,19,18,14,22,18,10,12,9,12,26

In [251]:
stores['전체상점'] = stores.iloc[:,2:].sum(axis=1)
stores.head()

,기간,자치구행정동명,한식,용달운송,부동산,옷가게,주점,미용실,슈퍼마켓,분식,...,치킨집,카센터,과일채소가게,정육점,중국집,당구장,빵집,pc방,카페,전체상점
0,2015,강남구 개포1동,13,38,42,9,0,20,14,5,...,1,1,5,1,2,0,1,0,4,168
1,2015,강남구 개포2동,56,23,51,14,20,33,14,16,...,11,4,4,4,2,4,7,1,14,308
2,2015,강남구 개포4동,101,42,53,26,19,32,9,22,...,15,25,3,5,8,9,5,5,31,459
3,2015,강남구 논현1동,318,18,193,100,102,98,35,32,...,23,10,11,16,18,14,13,8,103,1239
4,2015,강남구 논현2동,350,5,139,79,102,68,33,58,...,18,16,1,6,28,15,28,10,128,1183

In [252]:
stores['자치구행정동명'][1] == cafe['자치구행정동명'][1]

True

---
### 인구 추가 pop

In [253]:
len(pop)

2120

In [254]:
pop

        기간   자치구행정동명     인구    면적   인구밀도
0     2015  강남구 개포1동  21700  1.27  17087
1     2015  강남구 개포2동  27354  2.51  10898
2     2015  강남구 개포4동  22135  1.49  14856
3     2015  강남구 논현1동  25307  1.25  20246
4     2015  강남구 논현2동  23082  1.47  15702
...    ...       ...    ...   ...    ...
2115  2019  중랑구 상봉2동  19844  0.68  29182
2116  2019  중랑구 신내1동  40854  2.53  16148
2117  2019  중랑구 신내2동  21905  0.99  22126
2118  2019  중랑구 중화1동  20916  0.68  30759
2119  2019  중랑구 중화2동  27274  0.98  27831

[2120 rows x 5 columns]

In [255]:
stores1 =pd.merge(stores, pop, on=('자치구행정동명','기간'), how = 'outer')
stores1

,기간,자치구행정동명,한식,용달운송,부동산,옷가게,주점,미용실,슈퍼마켓,분식,...,정육점,중국집,당구장,빵집,pc방,카페,전체상점,인구,면적,인구밀도
0,2015,강남구 개포1동,13.0,38.0,42.0,9.0,0.0,20.0,14.0,5.0,...,1.0,2.0,0.0,1.0,0.0,4.0,168.0,21700.0,1.27,17087.0
1,2015,강남구 개포2동,56.0,23.0,51.0,14.0,20.0,33.0,14.0,16.0,...,4.0,2.0,4.0,7.0,1.0,14.0,308.0,27354.0,2.51,10898.0
2,2015,강남구 개포4동,101.0,42.0,53.0,26.0,19.0,32.0,9.0,22.0,...,5.0,8.0,9.0,5.0,5.0,31.0,459.0,22135.0,1.49,14856.0
3,2015,강남구 논현1동,318.0,18.0,193.0,100.0,102.0,98.0,35.0,32.0,...,16.0,18.0,14.0,13.0,8.0,103.0,1239.0,25307.0,1.25,20246.0
4,2015,강남구 논현2동,350.0,5.0,139.0,79.0,102.0,68.0,33.0,58.0,...,6.0,28.0,15.0,28.0,10.0,128.0,1183.0,23082.0,1.47,15702.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2118,2017,영등포구 여의동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33718.0,8.41,4009.0
2119,2018,강동구 둔촌1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,317.0,0.92,345.0
2120,2018,영등포구 여의동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33973.0,8.40,4044.0
2121,2019,강동구 둔촌1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,283.0,0.92,308.0
2122,2019,영등포구 여의동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34598.0,8.40,4119.0

In [256]:
stores1.isnull().sum()

기간         0
자치구행정동명    0
한식         8
용달운송       8
부동산        8
옷가게        8
주점         8
미용실        8
슈퍼마켓       8
분식         8
세탁소        8
노래방        8
편의점        8
치킨집        8
카센터        8
과일채소가게     8
정육점        8
중국집        8
당구장        8
빵집         8
pc방        8
카페         8
전체상점       8
인구         3
면적         3
인구밀도       3
dtype: int64

---
## avg 합치기

In [257]:
avg.rename(columns={'음료점': '카페'}, inplace=True)
avg.head()

     기간   자치구행정동명   카페  사업체수  총종사자수  총여성종사자수   운영평균   폐업평균  서울운영평균  서울시폐업평균
0  2015  강남구 개포1동    4   490   1694      582  102.0  48.50   94.75     47.0
1  2015  강남구 개포2동   14   902   3466     1988   99.0  48.50   94.75     47.0
2  2015  강남구 개포4동   31  2403  12402     4077   98.5  43.00   94.75     47.0
3  2015  강남구 논현1동  103  5770  43779    20314   86.0  43.00   94.75     47.0
4  2015  강남구 논현2동  128  5731  65282    27341   87.5  43.25   94.75     47.0

In [258]:
stores2 = pd.merge(stores1,avg, on=('자치구행정동명','기간','카페'), how = 'outer')
stores2

,기간,자치구행정동명,한식,용달운송,부동산,옷가게,주점,미용실,슈퍼마켓,분식,...,인구,면적,인구밀도,사업체수,총종사자수,총여성종사자수,운영평균,폐업평균,서울운영평균,서울시폐업평균
0,2015,강남구 개포1동,13.0,38.0,42.0,9.0,0.0,20.0,14.0,5.0,...,21700.0,1.27,17087.0,490.0,1694.0,582.0,102.00,48.50,94.75,47.00
1,2015,강남구 개포2동,56.0,23.0,51.0,14.0,20.0,33.0,14.0,16.0,...,27354.0,2.51,10898.0,902.0,3466.0,1988.0,99.00,48.50,94.75,47.00
2,2015,강남구 개포4동,101.0,42.0,53.0,26.0,19.0,32.0,9.0,22.0,...,22135.0,1.49,14856.0,2403.0,12402.0,4077.0,98.50,43.00,94.75,47.00
3,2015,강남구 논현1동,318.0,18.0,193.0,100.0,102.0,98.0,35.0,32.0,...,25307.0,1.25,20246.0,5770.0,43779.0,20314.0,86.00,43.00,94.75,47.00
4,2015,강남구 논현2동,350.0,5.0,139.0,79.0,102.0,68.0,33.0,58.0,...,23082.0,1.47,15702.0,5731.0,65282.0,27341.0,87.50,43.25,94.75,47.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2128,2017,관악구 신사동_관악,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1384.0,4721.0,2223.0,93.25,47.25,97.25,49.75
2129,2018,강남구 신사동_강남,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4223.0,26902.0,14238.0,91.50,48.00,100.75,50.75
2130,2018,관악구 신사동_관악,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1388.0,4696.0,2233.0,97.00,48.00,100.75,50.75
2131,2019,강남구 신사동_강남,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4140.0,26210.0,14106.0,96.75,49.75,108.50,53.25
2132,2019,관악구 신사동_관악,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1359.0,4356.0,2094.0,104.75,49.75,108.50,53.25

In [259]:
stores2.isnull().sum()

기간          0
자치구행정동명     0
한식         18
용달운송       18
부동산        18
옷가게        18
주점         18
미용실        18
슈퍼마켓       18
분식         18
세탁소        18
노래방        18
편의점        18
치킨집        18
카센터        18
과일채소가게     18
정육점        18
중국집        18
당구장        18
빵집         18
pc방        18
카페          8
전체상점       18
인구         13
면적         13
인구밀도       13
사업체수       18
총종사자수      18
총여성종사자수    18
운영평균       18
폐업평균       18
서울운영평균     18
서울시폐업평균    18
dtype: int64

In [260]:
for i in range(stores2.shape[0]):
     stores2.loc[i,'구구'] = str(stores2.loc[i, '자치구행정동명']).split(' ')[0]
stores2

,기간,자치구행정동명,한식,용달운송,부동산,옷가게,주점,미용실,슈퍼마켓,분식,...,면적,인구밀도,사업체수,총종사자수,총여성종사자수,운영평균,폐업평균,서울운영평균,서울시폐업평균,구구
0,2015,강남구 개포1동,13.0,38.0,42.0,9.0,0.0,20.0,14.0,5.0,...,1.27,17087.0,490.0,1694.0,582.0,102.00,48.50,94.75,47.00,강남구
1,2015,강남구 개포2동,56.0,23.0,51.0,14.0,20.0,33.0,14.0,16.0,...,2.51,10898.0,902.0,3466.0,1988.0,99.00,48.50,94.75,47.00,강남구
2,2015,강남구 개포4동,101.0,42.0,53.0,26.0,19.0,32.0,9.0,22.0,...,1.49,14856.0,2403.0,12402.0,4077.0,98.50,43.00,94.75,47.00,강남구
3,2015,강남구 논현1동,318.0,18.0,193.0,100.0,102.0,98.0,35.0,32.0,...,1.25,20246.0,5770.0,43779.0,20314.0,86.00,43.00,94.75,47.00,강남구
4,2015,강남구 논현2동,350.0,5.0,139.0,79.0,102.0,68.0,33.0,58.0,...,1.47,15702.0,5731.0,65282.0,27341.0,87.50,43.25,94.75,47.00,강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2128,2017,관악구 신사동_관악,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1384.0,4721.0,2223.0,93.25,47.25,97.25,49.75,관악구
2129,2018,강남구 신사동_강남,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4223.0,26902.0,14238.0,91.50,48.00,100.75,50.75,강남구
2130,2018,관악구 신사동_관악,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1388.0,4696.0,2233.0,97.00,48.00,100.75,50.75,관악구
2131,2019,강남구 신사동_강남,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4140.0,26210.0,14106.0,96.75,49.75,108.50,53.25,강남구
2132,2019,관악구 신사동_관악,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1359.0,4356.0,2094.0,104.75,49.75,108.50,53.25,관악구

In [261]:
# 구구기준으로 평균이 동일 해서 쓸 수 없음..

---
### stores1 null 정리

In [262]:
stores1

,기간,자치구행정동명,한식,용달운송,부동산,옷가게,주점,미용실,슈퍼마켓,분식,...,정육점,중국집,당구장,빵집,pc방,카페,전체상점,인구,면적,인구밀도
0,2015,강남구 개포1동,13.0,38.0,42.0,9.0,0.0,20.0,14.0,5.0,...,1.0,2.0,0.0,1.0,0.0,4.0,168.0,21700.0,1.27,17087.0
1,2015,강남구 개포2동,56.0,23.0,51.0,14.0,20.0,33.0,14.0,16.0,...,4.0,2.0,4.0,7.0,1.0,14.0,308.0,27354.0,2.51,10898.0
2,2015,강남구 개포4동,101.0,42.0,53.0,26.0,19.0,32.0,9.0,22.0,...,5.0,8.0,9.0,5.0,5.0,31.0,459.0,22135.0,1.49,14856.0
3,2015,강남구 논현1동,318.0,18.0,193.0,100.0,102.0,98.0,35.0,32.0,...,16.0,18.0,14.0,13.0,8.0,103.0,1239.0,25307.0,1.25,20246.0
4,2015,강남구 논현2동,350.0,5.0,139.0,79.0,102.0,68.0,33.0,58.0,...,6.0,28.0,15.0,28.0,10.0,128.0,1183.0,23082.0,1.47,15702.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2118,2017,영등포구 여의동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33718.0,8.41,4009.0
2119,2018,강동구 둔촌1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,317.0,0.92,345.0
2120,2018,영등포구 여의동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33973.0,8.40,4044.0
2121,2019,강동구 둔촌1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,283.0,0.92,308.0
2122,2019,영등포구 여의동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34598.0,8.40,4119.0

In [263]:
stores3 = stores1.dropna(how='any')
stores3

,기간,자치구행정동명,한식,용달운송,부동산,옷가게,주점,미용실,슈퍼마켓,분식,...,정육점,중국집,당구장,빵집,pc방,카페,전체상점,인구,면적,인구밀도
0,2015,강남구 개포1동,13.0,38.0,42.0,9.0,0.0,20.0,14.0,5.0,...,1.0,2.0,0.0,1.0,0.0,4.0,168.0,21700.0,1.27,17087.0
1,2015,강남구 개포2동,56.0,23.0,51.0,14.0,20.0,33.0,14.0,16.0,...,4.0,2.0,4.0,7.0,1.0,14.0,308.0,27354.0,2.51,10898.0
2,2015,강남구 개포4동,101.0,42.0,53.0,26.0,19.0,32.0,9.0,22.0,...,5.0,8.0,9.0,5.0,5.0,31.0,459.0,22135.0,1.49,14856.0
3,2015,강남구 논현1동,318.0,18.0,193.0,100.0,102.0,98.0,35.0,32.0,...,16.0,18.0,14.0,13.0,8.0,103.0,1239.0,25307.0,1.25,20246.0
4,2015,강남구 논현2동,350.0,5.0,139.0,79.0,102.0,68.0,33.0,58.0,...,6.0,28.0,15.0,28.0,10.0,128.0,1183.0,23082.0,1.47,15702.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2110,2019,중랑구 상봉2동,247.0,74.0,74.0,59.0,88.0,40.0,20.0,28.0,...,7.0,8.0,17.0,4.0,18.0,44.0,877.0,19844.0,0.68,29182.0
2111,2019,중랑구 신내1동,110.0,261.0,43.0,27.0,28.0,48.0,21.0,20.0,...,6.0,9.0,6.0,11.0,6.0,37.0,714.0,40854.0,2.53,16148.0
2112,2019,중랑구 신내2동,48.0,94.0,30.0,50.0,10.0,33.0,10.0,16.0,...,9.0,3.0,2.0,8.0,1.0,14.0,366.0,21905.0,0.99,22126.0
2113,2019,중랑구 중화1동,35.0,111.0,39.0,19.0,9.0,40.0,16.0,9.0,...,4.0,0.0,0.0,2.0,0.0,14.0,341.0,20916.0,0.68,30759.0
2114,2019,중랑구 중화2동,172.0,149.0,44.0,47.0,74.0,62.0,31.0,34.0,...,18.0,10.0,12.0,9.0,12.0,26.0,829.0,27274.0,0.98,27831.0

In [264]:
seoul= stores3[stores3.loc[:,'자치구행정동명'] =='강남구 개포1동']
seoul

,기간,자치구행정동명,한식,용달운송,부동산,옷가게,주점,미용실,슈퍼마켓,분식,...,정육점,중국집,당구장,빵집,pc방,카페,전체상점,인구,면적,인구밀도
0,2015,강남구 개포1동,13.0,38.0,42.0,9.0,0.0,20.0,14.0,5.0,...,1.0,2.0,0.0,1.0,0.0,4.0,168.0,21700.0,1.27,17087.0
423,2016,강남구 개포1동,12.0,81.0,47.0,5.0,0.0,20.0,13.0,5.0,...,1.0,1.0,0.0,0.0,0.0,5.0,207.0,21162.0,1.27,16663.0
846,2017,강남구 개포1동,11.0,15.0,50.0,6.0,0.0,19.0,11.0,2.0,...,1.0,1.0,0.0,0.0,0.0,4.0,136.0,20111.0,1.27,15835.0
1269,2018,강남구 개포1동,8.0,29.0,19.0,3.0,0.0,9.0,4.0,2.0,...,1.0,1.0,0.0,0.0,0.0,4.0,89.0,7800.0,1.27,6142.0
1692,2019,강남구 개포1동,5.0,22.0,20.0,3.0,0.0,5.0,4.0,1.0,...,1.0,1.0,0.0,0.0,0.0,4.0,73.0,6920.0,1.27,5449.0

In [265]:
seoul1=seoul.iloc[:,:22]
seoul1

,기간,자치구행정동명,한식,용달운송,부동산,옷가게,주점,미용실,슈퍼마켓,분식,...,편의점,치킨집,카센터,과일채소가게,정육점,중국집,당구장,빵집,pc방,카페
0,2015,강남구 개포1동,13.0,38.0,42.0,9.0,0.0,20.0,14.0,5.0,...,1.0,1.0,1.0,5.0,1.0,2.0,0.0,1.0,0.0,4.0
423,2016,강남구 개포1동,12.0,81.0,47.0,5.0,0.0,20.0,13.0,5.0,...,1.0,1.0,1.0,4.0,1.0,1.0,0.0,0.0,0.0,5.0
846,2017,강남구 개포1동,11.0,15.0,50.0,6.0,0.0,19.0,11.0,2.0,...,2.0,1.0,1.0,3.0,1.0,1.0,0.0,0.0,0.0,4.0
1269,2018,강남구 개포1동,8.0,29.0,19.0,3.0,0.0,9.0,4.0,2.0,...,2.0,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,4.0
1692,2019,강남구 개포1동,5.0,22.0,20.0,3.0,0.0,5.0,4.0,1.0,...,2.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,4.0

In [266]:
stores

,기간,자치구행정동명,한식,용달운송,부동산,옷가게,주점,미용실,슈퍼마켓,분식,...,치킨집,카센터,과일채소가게,정육점,중국집,당구장,빵집,pc방,카페,전체상점
0,2015,강남구 개포1동,13,38,42,9,0,20,14,5,...,1,1,5,1,2,0,1,0,4,168
1,2015,강남구 개포2동,56,23,51,14,20,33,14,16,...,11,4,4,4,2,4,7,1,14,308
2,2015,강남구 개포4동,101,42,53,26,19,32,9,22,...,15,25,3,5,8,9,5,5,31,459
3,2015,강남구 논현1동,318,18,193,100,102,98,35,32,...,23,10,11,16,18,14,13,8,103,1239
4,2015,강남구 논현2동,350,5,139,79,102,68,33,58,...,18,16,1,6,28,15,28,10,128,1183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2110,2019,중랑구 상봉2동,247,74,74,59,88,40,20,28,...,16,18,4,7,8,17,4,18,44,877
2111,2019,중랑구 신내1동,110,261,43,27,28,48,21,20,...,23,11,1,6,9,6,11,6,37,714
2112,2019,중랑구 신내2동,48,94,30,50,10,33,10,16,...,11,2,4,9,3,2,8,1,14,366
2113,2019,중랑구 중화1동,35,111,39,19,9,40,16,9,...,5,1,4,4,0,0,2,0,14,341
2114,2019,중랑구 중화2동,172,149,44,47,74,62,31,34,...,18,14,22,18,10,12,9,12,26,829

In [267]:
stores.columns[2:-1]

Index(['한식', '용달운송', '부동산', '옷가게', '주점', '미용실', '슈퍼마켓', '분식', '세탁소', '노래방',
       '편의점', '치킨집', '카센터', '과일채소가게', '정육점', '중국집', '당구장', '빵집', 'pc방', '카페'],
      dtype='object')

In [268]:
stores_1= stores

list=['한식', '용달운송', '부동산', '옷가게', '주점', '미용실', '슈퍼마켓', '분식', '세탁소', '노래방','편의점', '치킨집', '카센터', '과일채소가게', '정육점', '중국집', '당구장', '빵집', 'pc방', '카페']
stores_1.index
for i in list:
   stores_1[i] = stores_1[i][stores_1.index] / stores_1['전체상점'][stores_1.index] * 100

In [269]:
stores_1.head()

,기간,자치구행정동명,한식,용달운송,부동산,옷가게,주점,미용실,슈퍼마켓,분식,...,치킨집,카센터,과일채소가게,정육점,중국집,당구장,빵집,pc방,카페,전체상점
0,2015,강남구 개포1동,7.738095,22.619048,25.000000,5.357143,0.000000,11.904762,8.333333,2.976190,...,0.595238,0.595238,2.976190,0.595238,1.190476,0.000000,0.595238,0.000000,2.380952,168
1,2015,강남구 개포2동,18.181818,7.467532,16.558442,4.545455,6.493506,10.714286,4.545455,5.194805,...,3.571429,1.298701,1.298701,1.298701,0.649351,1.298701,2.272727,0.324675,4.545455,308
2,2015,강남구 개포4동,22.004357,9.150327,11.546841,5.664488,4.139434,6.971678,1.960784,4.793028,...,3.267974,5.446623,0.653595,1.089325,1.742919,1.960784,1.089325,1.089325,6.753813,459
3,2015,강남구 논현1동,25.665860,1.452785,15.577078,8.071025,8.232446,7.909605,2.824859,2.582728,...,1.856336,0.807103,0.887813,1.291364,1.452785,1.129944,1.049233,0.645682,8.313156,1239
4,2015,강남구 논현2동,29.585799,0.422654,11.749789,6.677937,8.622147,5.748098,2.789518,4.902790,...,1.521555,1.352494,0.084531,0.507185,2.366864,1.267963,2.366864,0.845309,10.819949,1183

In [270]:
csv_data = stores_1[['한식', '용달운송', '부동산', '옷가게', '주점', '미용실', '슈퍼마켓', '분식', '세탁소', '노래방','편의점', '치킨집', '카센터', '과일채소가게', '정육점', '중국집', '당구장', '빵집', 'pc방', '카페']]
csv_label =stores_1['자치구행정동명']

In [271]:
from sklearn.model_selection import train_test_split
train_data, test_data, train_label, test_label = train_test_split(
    csv_data, csv_label
)

In [272]:
# KNN
from sklearn.neighbors import KNeighborsClassifier
nn_clf = KNeighborsClassifier(n_neighbors=3) #n_neighbors=3 :하이퍼 파라미터라고한다. 데이터가 많은때는 줄이고, 적을때는 올린다.
nn_clf.fit(train_data,train_label)
print("KNN train :",nn_clf.score(train_data,train_label))
print("KNN test :",nn_clf.score(test_data,test_label))
print('-' * 30)

# Decision Tree
from sklearn.tree import DecisionTreeClassifier
dt_clf =DecisionTreeClassifier()
dt_clf.fit(train_data,train_label)
print("Decision Tree train :", dt_clf.score(train_data,train_label))
print("Decision Tree test :", dt_clf.score(test_data,test_label))
print('-' * 30)

# Random Forest
from sklearn.ensemble import RandomForestClassifier
rf_clf = RandomForestClassifier()
rf_clf.fit(train_data,train_label)
print("Random Forest train :", rf_clf.score(train_data,train_label))
print("Random Forest test :", rf_clf.score(test_data,test_label))
print('-' * 30)

# AdaBoost
from sklearn.ensemble import AdaBoostClassifier
ad_clf =AdaBoostClassifier()
ad_clf.fit(train_data,train_label)
print("AdaBoost train :", ad_clf.score(train_data,train_label))
print("AdaBoost test :", ad_clf.score(test_data,test_label))
print('-' * 30)

# Neural Net
from sklearn.neural_network import MLPClassifier
net_clf = MLPClassifier()
net_clf.fit(train_data,train_label)
print("Neural Net train :", net_clf.score(train_data,train_label))
print("Neural Net test :", net_clf.score(test_data,test_label))
print('-' * 30)

# Naive Bayes 
from sklearn.naive_bayes import GaussianNB
nb_clf = GaussianNB()
nb_clf.fit(train_data,train_label)
print("Naive Bayes train :", nb_clf.score(train_data,train_label))
print("Naive Bayes test :", nb_clf.score(test_data,test_label))
print('-' * 30)

# # QDA
# from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
# qda_clf = QuadraticDiscriminantAnalysis()
# qda_clf.fit(train_data,train_label)
# print("QDA train :", qda_clf.score(train_data,train_label))
# print("QDA test :", qda_clf.score(test_data,test_label))
# print('-' * 30)

KNN train : 0.9394703656998739
KNN test : 0.77882797731569
------------------------------
Decision Tree train : 1.0
Decision Tree test : 0.46880907372400754
------------------------------
Random Forest train : 1.0
Random Forest test : 0.9017013232514177
------------------------------
AdaBoost train : 0.02459016393442623
AdaBoost test : 0.024574669187145556
------------------------------
Neural Net train : 1.0
Neural Net test : 0.9224952741020794
------------------------------
Naive Bayes train : 1.0
Naive Bayes test : 0.5595463137996219
------------------------------

/Users/tj/opt/anaconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [274]:
# 한글 폰트 문제 해결 
# matplotlib은 한글 폰트를 지원하지 않음
# os정보
import platform

# font_manager : 폰트 관리 모듈
# rc : 폰트 변경 모듈
from matplotlib import font_manager, rc
# unicode 설정
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic') # os가 macos
elif platform.system() == 'Windows':
    path = 'c:/Windows/Fonts/malgun.ttf' # os가 windows
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print("Unknown System")

---
### 뒤 짝꿍님

In [275]:
pd.read_csv("../Data/feature_oh.csv")

,한식,용달운송,부동산,옷가게,주점,미용실,슈퍼마켓,분식,세탁소,노래방,...,사업체수,총종사자수,총여성종사자수,운영평균,폐업평균,기간_2015,기간_2016,기간_2017,기간_2018,기간_2019
0,13,38,42,9,0,20,14,5,11,0,...,490,1694,582,102.00,48.50,1,0,0,0,0
1,56,23,51,14,20,33,14,16,15,7,...,902,3466,1988,99.00,48.50,1,0,0,0,0
2,101,42,53,26,19,32,9,22,18,13,...,2403,12402,4077,98.50,43.00,1,0,0,0,0
3,318,18,193,100,102,98,35,32,40,34,...,5770,43779,20314,86.00,43.00,1,0,0,0,0
4,350,5,139,79,102,68,33,58,30,16,...,5731,65282,27341,87.50,43.25,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2110,247,74,74,59,88,40,20,28,17,67,...,2159,9306,4494,107.25,50.75,0,0,0,0,1
2111,110,261,43,27,28,48,21,20,18,14,...,2017,11518,4889,97.00,50.00,0,0,0,0,1
2112,48,94,30,50,10,33,10,16,14,1,...,1120,6468,3483,100.25,49.00,0,0,0,0,1
2113,35,111,39,19,9,40,16,9,13,5,...,1089,3590,1951,107.00,51.50,0,0,0,0,1
2114,172,149,44,47,74,62,31,34,12,44,...,2111,6771,2961,112.00,50.25,0,0,0,0,1